#nav{
  background-color: rgb(241, 13, 58);

}
#NavBar{
  background-color:red;
  height: 8vh;
  margin:0px;
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#NavBar:nth-child(2):hover{
  display:none;
}
.drop{
  display: "grid";
  grid-template-rows: "repeat(1fr)";
  justify-items: "start";
  gap: "2px";
  max-width: "400px";
  background-color: rgb(241, 13, 58);
}

.fa-solid.fa-circle-user::before {
  font-size: 3vw;
  margin:2vw;
}
